<div class="header-container">
    <div class="logo-container">
        <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
            <!-- <nb-icon icon="menu-2-outline"></nb-icon> -->
            <img src="../../../../assets/manulife-logo.jpg" style="width: 40px;" />
        </a>
        <a class="logo" href="#" (click)="navigateHome()"><span style="font-size: 1.125rem; font-family: ManulifeJHSans Regular;">Fingerprint Administration System</span></a
        >
    </div>
    <!-- Disable select theme -->
    <!-- <nb-select [selected]="currentTheme" (selectedChange)="changeTheme($event)" status="primary">
    <nb-option *ngFor="let theme of themes" [value]="theme.value"> {{ theme.name }}</nb-option>
  </nb-select> -->
</div>

<div class="header-container">
    <nb-actions size="small">
        <!-- <nb-action class="control-item">
            <nb-search type="rotate-layout"></nb-search>
        </nb-action> -->
        <!-- <nb-action class="control-item" icon="email-outline"></nb-action> -->
        <!-- <nb-action class="control-item" icon="bell-outline"></nb-action> -->
    </nb-actions>
</div>