.mn-header-lv1 {
  padding: .625rem 0;
  width: 100%;
  text-align: left;
  font-size: 0.8125rem;
  margin-bottom: 0.625rem;
  border-bottom: 1px solid #282b3e;
  border-radius: 0;
  color: #00a758;
  font-family: ManulifeJHSans Bold !important;
}
