.entry-button-manulife {
    background-color: #6b6a6a !important;
    width: 150px;
    color: #ffffff !important;
    margin-right: 5px;
    border: #6b6a6a !important;
}


.icon-button{
    width: 31px!important;
    min-width: 31px!important;
    padding: 3px!important;
}